/*need set the min-height and min-width for the body so the content can display */
body,html {
	width: 100%;
	height: 100%;
	min-height:640;
	min-width: 800;
	
	margin: 0px;
	padding: 0px;
	border: 0px;
	
	min-height:600px;
	min-width: 800px;
	
	position: absolute;
	
	overflow: auto;
}

#header-bar{
border-bottom:solid 1px #DEDEDE;
}

#header-bar .sapUiUx3ShellHeader{
	text-align: left;
}

#header-bar .logo {
	float: left;
    position:relative; 
	left: 3px;
	width: 52px;
    height: 52px;
    background: url(../images/SAPLogo.png) no-repeat;
}

#header-bar .app_name {
	float: left;
	position:relative; 
	top: 4px;
	font-family: 'Helvetica Regular', Arial;
}

#header-bar .home, #header-bar .alert {
    float: left;
	position: relative;
	top: -6px;
	left: 3%;
    width: 44px;
    height: 44px;
}

#header-bar .home {
    background: url(../images/LeftNavi_Home_Button.png) no-repeat;
    cursor:pointer;
}

#header-bar .alert {
    background: url(../images/LeftNavi_Alert_Button.png) no-repeat;
    cursor:pointer;
}

#header-bar .tabbar{
width: 560px; margin-left: auto; margin-right: auto; text-align: center;
}

#header-bar .tabs, #header-bar .tab{border:0; margin:0; padding:0; list-style:none;}

#header-bar .tabs{
height:29px;
padding-left:20px;
}

#header-bar .tab{float:left; margin-right:2px;}

#header-bar .tabs a:link, #header-bar .tabs a:visited{
color:#666666;
display:block;
font-family: 'Helvetica Regular', Arial;
height:28px;
line-height:28px;
text-decoration:none;
border: 1px solid #C0C0C0;
border-bottom: 0px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#header-bar .tabs a span{
font-family: Calibri, Helvetica, sans-serif;
font-size: 15px;
display:block;
height:28px;
margin-right:14px;
padding-left:14px;
}
#header-bar .tabs a:hover{
display:block;
background: #D3D3D3;
}
#header-bar .tabs a:hover span{
display:block;
}

#header-bar .active a:link, #header-bar .active a:visited, #header-bar .active a:visited, #header-bar .active a:hover{
background: white;
}
#header-bar .active a span, #header-bar .active a:hover span{

font-weight:bold;
}

#header-bar .nav-right span {
    float: right;
	top: -34px;
    width: 44px;
    height: 44px;
    position: relative;
}

#header-bar .calendar {
    background: url(../images/TimePeriodButton.png) no-repeat;
    cursor:pointer;
}
#header-bar .share {
    background: url(../images/ExportButton.png) no-repeat;
    cursor:pointer;
}
#header-bar .help {
    background: url(../images/HelpButton.png) no-repeat;
    cursor:pointer;
}
#header-bar .setting {
    background: url(../images/SettingButton.png) no-repeat;
    cursor:pointer;
}

#data-view{
 	margin-left: 5%; 
 	margin-right: 5%;
 	/*text-align: center;*/
 	width: 90%;
   height:  90%;
   overflow:hidden;
}

#buttonHorizontalLayout{
	display: block;
	text-align: left;
}

#data-view {
	font-family: 'Helvetica Regular', Arial;
}

.footer{
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.legent_space{
	width: 20px;
}

#legend-view{
	display: none;
 	text-align: center;
 	/**width: 580px; */ 
    height:20px;
 	text-align: center;
    font-family: 'Helvetica Regular', Arial;
    margin-left: auto;
	margin-right: auto;
	
	border: 1px solid #444;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	box-shadow:5px 5px 8px #444;
}

.hide {
	
	display:none;
}

/*#legendlayout{
	left:40%;
	width:50%;
}*/

#Dropdown { margin: 0 4px; }

#LabelSwitcher {
	position: relative;
	top: 2px;
	margin: 0 8px; 
	font-size:12px;
}

.mainVerticalLayout{
	position: relative;
	top: 20px;
}

.headerData{
	text-align: left;
}


.headerDataName, .headerDataSpend{
	font-size:20px !important;
	font-weight:bold !important;
	color: dimgray !important;
}

.switch_toolbar{
	top: 5px;	
	height:50px;
}


.headerDataYearofDate, .headerDataLeftOrOver{
	font-size:15px !important;
	color: dimgray !important;
}

.lineItemTreeTable{
	margin-top: -30px;
}
.rsNaviBar {
	float: left;
}

.rsNaviMng, .rsNaviMng:link,.rsNaviMng:active{
	text-align: left; !important; /*in ux3 outside is center*/
	font-size:14px;
	font-family: "myriad-pro-1","myriad-pro-2","Helvetica","Arial",sans-serif;
 	font-weight: 600;
	line-height: 16px;
	color: #447099;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;	
}

.rsToolPopup{
	background-color: white !important;
}

.rsHeaderUserImage{
	margin: 0 10px;
}


.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiSegButtonSelected{
box-shadow: 0 -1px 0 0 #6a6a6a inset !important;
cursor: default;
background-color: #6A6A6A !important;
color: white;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnStd:hover, .sapUiBtnS.sapUiBtnStd.sapUiBtnStdHover {
background-color: #E2E2E2 !important;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover, .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiBtnStdHover {
border-color: #E2E2E2 !important;
}

.sapUiSegmentedButton > .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:focus:not(.sapUiSegButtonSelected) {
box-shadow: 0 1px 0 0 gray inset,1px 0 0 0 gray inset !important;
}

.sapUiBtnS.sapUiBtnStd:hover, .sapUiBtnS.sapUiBtnStd.sapUiBtnStdHover {
box-shadow: 0 1px 0 0 gray inset,1px 0 0 0 gray inset !important;
border-color: #E2E2E2 !important;
cursor: default;
background-color: #E2E2E2 !important;
color: white;
}

.sapUiPanelCont {
overflow: hidden !important;
}

.oLeftOverOnPieHeader{
	margin: 0 4px;
}

.rsOverviewMatrixLayout{
	margin-top: 50px;
}

.rsSeeDetailButton{
	height: 47px !important;
	width: 50px !important;	
	padding: 0 0px 0px !important;
}

.rsBackButton{
	height: 50px !important;
	width: 52px !important;	
	padding: 0 0px 0px !important;
}

.sapUiTvDsbl {
color: #404040 !important;
}


<!-- for pie -->
.pie_container{
	overflow:visible;
}
.pie_tooltip{
	margin: 8px;
    line-height: 20px;
   	display:none;
	padding:10px;
	position:absolute;	
	z-index:1000;
	background: white;
	box-shadow:5px 5px 8px #444;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pie_tooltip .tri1 {
    		z-index: 11;
    		position: absolute;
    		top: -20px;
    		left: 10px;
    		height: 0;
    		width: 0;
    		border-style: solid;
    		border-width: 10px;
    		border-color: transparent transparent white transparent;
}
.pie_tooltip .tri2 {
}
.pie_svg {}
.slice {}
.slice:hover {cursor: pointer;}
.slice_text {}
		
<!--for bar -->
.budget_bar{}
.warningIcon {
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background: url(../images/Detail_Chart_Warning_Icon.png) no-repeat;
}

.budget_bar_total .tri_left {
    		z-index: 11;
    		position: absolute;
    		left: 0;
    		height: 0;
    		width: 0;
    		border-style: solid;
    		border-color: transparent transparent transparent green;
    		top: 0px;
}
.budget_bar_total .tri_right {
    		z-index: 11;
    		position: absolute;
    		left: 0;
    		height: 0;
    		width: 0;
    		border-style: solid;
    		border-color: transparent green transparent transparent;
    		top: 0px;
}
.budget_bar_committed {
    		opacity: 0.6;
    		background-color: gray;
    		background-image: url(../images/slash.png);
}



/*padding between items in the legend */
.sapUiHLayout_items > * {
		margin-left: 10px;
}

/*padding between controls in one item in the legend */
.sapUiHLayout_in_item > * {
		margin-left: 8px;
}

/*the following is just for two buttons in alert view*/
#BtnClose,#BtnMarkAll{
	margin: 0px 5px 10px 5px;
	padding: 5px;
	width: 150px;
	height: 30px;  	
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7 !important;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7 !important;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7 !important;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ) !important;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% ) !important;
	background-color:#378de5 !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
	border-radius:6px !important;
	border:1px solid #84bbf3 !important;
	display:inline-block;
	color:#ffffff ;
	font-family:arial ;
	font-size:15px ;
	font-weight:bold ;	
	text-decoration:none ;
	text-shadow:1px 1px 0px #528ecc ;
}

.noDrawPieForAllDataZero{
	margin-top: 120px;
	height: 30px;
}
#mainShell-wsBar
{
	text-transform : none !important;
}


#mainShell-content
{
	overflow-x : visible  !important;
}

.treeTableToolbar
{
	text-align: left !important;
}
